<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" routerLink="/home"><i class="fa-solid fa-burger"></i>Rotiseria UM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                @if (isToken()){
                    <a class="nav-link" href="#" routerLink="/productos">Productos</a>
                    <a class="nav-link" href="#" routerLink="/usuarios">Usuarios</a>
                    <a class="nav-link" (click)="logout()" routerLink="/login">Cerrar sesión</a>
                } @else {
                    <a class="nav-link" href="#" routerLink="/login" >Login</a>
                }
            </div>
        </div>
    </div>
  </nav>
